/* CSS VARIABLES 
==================================================*/

:root {
  --primary: #ddd;
  --dark: #161B21;
  --light: #fff;
  --blue: #007a7b;
  /* dark blue */
  --hover: #01b2bc;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
  --menu-speed: 0.75s;
}

/* GLOBAL STYLING 
================================================== */

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: normal;
  background: var(--primary);
  color: var(--dark);
  position: relative;
  padding-bottom: 3rem;
  /* 3rem is the size o the footer */
  min-height: 100vh;
  /* this makes the content fill the entire space */
}

.btn {
  background-color: var(--blue);
  color: var(--light);
  padding: 0.8rem;
  margin: 1rem;
  /* 1rem=16px */
  text-decoration: none;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--hover);
}

img {
  width: 100%;
  /* the image will always fill the box */
}

p {
  line-height: 1.6;
  font-size: 18px;
}

.footer p {
  line-height: normal;
  font-size: 13px;
}

/* LOGO */

svg {
  float: left;
  padding: 0.7rem 0 0.4rem 2rem;
}

svg:hover .cls-1 {
  fill: var(--hover);
}

svg:hover .cls-2 {
  fill: var(--hover);
}

/* MAIN GRID CONTAINER 
================================================== */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav nav"
    "wedding wedding wedding wedding"
    "footer footer footer footer";
}

/* HEADER - MENU STYLES 
================================================== */

.nav {
  grid-area: nav;
}

/* HEADER
================================================== */

#social-mobile {
  display: none;
}

.header .fa-facebook-f {
  display: inline-block;
  float: right;
  padding: 0.9rem 4rem 0 0;
  color: var(--blue);
}

.header .fa-vimeo-v {
  display: inline-block;
  float: right;
  padding: 0.9rem 2rem 0 0;
  color: var(--blue);
}

.header .fa-instagram {
  display: inline-block;
  float: right;
  padding: 0.9rem 2rem 0 0;
  color: var(--blue);
}

.header .fa-vimeo-v:hover,
.header .fa-instagram:hover,
.header .fa-facebook-f:hover {
  color: var(--hover);
}

.header {
  background: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: var(--blue);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header li a:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--hover);
  width: 0;
  left: 50%;
  bottom: 0.5rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--hover);
}

.header li a:hover:after {
  width: 100%;
}

#contact {
  margin-right: -34rem;
  /* this fixes the menu spacing on smaller screens*/
}

#wedding {
  margin-right: -15rem;
}

#about {
  margin-right: -2rem;
}

#wedding,
#about,
#contact {
  letter-spacing: 0px;
}

/* The dropdown container for languages*/
.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 2rem;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1rem;
  font-weight: 550;
  border: none;
  outline: none;
  color: var(--blue);
  padding: 1.4rem 1rem 0 0;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  margin-bottom: 1.1rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFAFA;
  font-weight: 550;
  min-width: 50px;
  margin: 0 -0.9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--blue);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#lang-mobile {
  display: none;
}

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
  text-transform: uppercase;
}

/* MENO ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 300px;
  /* THIS CHANGES THE HEIGHT OF THE MENU */
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* BOOK
================================================== */

.wedding {
  grid-area: wedding;
  display: grid;
  text-align: left;
  background-color: #fff;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  /* if we have to many boxes we tell the browser to display automaticly depending on the size of the screen */
  margin: 4.6rem 1rem 1rem 1rem;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: var(--shadow);
}

.text1,
.text2,
.text3,
.text4,
.text5,
.text6,
.text7,
.text8 {
  padding: 0 0.5rem;
  margin-top: -0.8rem;
}

h2 {
  font-weight: 450;
  font-size: 1.3rem;
  margin-bottom: -1rem;
}

/* PROJECT ONE 
==================================================  */

.project-1 {
  grid-area: project-1;
  display: grid;
  background: url(/img/1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}

/* PROJECT TWO
==================================================  */

.project-2 {
  grid-area: project-2;
  display: grid;
  background: url(/img/2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}

/* PROJECT THREE
==================================================  */

.project-3 {
  grid-area: project-3;
  display: grid;
  background: url(/img/3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}

/* PROJECT FOUR
==================================================  */

.project-4 {
  grid-area: project-4;
  display: grid;
  background: url(/img/4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}

/* PROJECT FIVE
==================================================  */

.project-5 {
  grid-area: project-5;
  display: grid;
  background: url(/img/5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}

/* PROJECT SIX
==================================================  */

.project-6 {
  grid-area: project-6;
  display: grid;
  background: url(/img/6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}

/* PROJECT SEVEN
==================================================  */

.project-7 {
  grid-area: project-7;
  display: grid;
  background: url(/img/7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}

/* PROJECT EIGHT
==================================================  */

.project-8 {
  grid-area: project-8;
  display: grid;
  background: url(/img/8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-items: center;
  margin: 0.5rem 0.5rem 2rem 0.5rem;
  height: 210px;
}


/* ROUND BUTTON 
================================================== */

.round-button {
  box-sizing: border-box;
  display: block;
  width: 100%;
  /* this will cover the background */
  height: 100%;
  display: grid;
  /* this will center the button*/
  align-items: center;
  justify-items: center;
  color: #fff;
  /* this is the triangle */
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}

.round-button:hover {
  color: var(--hover);
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px rgba(255, 255, 100, 0.5);
  text-shadow: 0px 0px 10px rgba(255, 255, 100, 0.5);
}

/* FOOTER 
================================================== */

.footer {
  grid-area: footer;
  background: var(--dark);
  height: 3rem;
  position: absolute;
  /* position is absolute and relative to the body */
  bottom: 0;
  width: 100%;
}

.footer p {
  color: var(--light);
  text-align: right;
  padding-right: 4rem;
  padding-top: 0.2rem;
}

/* BACK TO TOP BUTTON 
==================================================*/

.btt {
  color: #333;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-top: 0.4rem;
}

a.btt {
  display: none;
  position: fixed;
  z-index: 999;
  width: 50px;
  height: 50px;
  right: 30px;
  bottom: 60px;
  background: #ebebeb;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: 3px 3px 10px rgba(23, 25, 25, 0.2);
  transition: transform 0.3s ease-in-out;
}

a.btt .svg-inline--fa {
  color: #191717;
  position: relative;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

a.btt:hover {
  transform: translatey(-10%);
}


/* MEDIA QUERIES 
================================================== */

@media (min-width: 1025px) {

  .header li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
  }

  .logo {
    float: left;
    width: 8rem;
    /* this will make the menu center. change it when needed */
    padding: 0;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-areas:
      "nav nav nav"
      "wedding wedding wedding"
      "footer footer footer";
  }

  .container {
    grid-area: container;
    display: grid;
    background: var(--light);
    box-shadow: var(--shadow);
    grid-template-areas:
      "container";
  }

  #social-pc {
    display: none;
  }

  #social-mobile {
    display: block;
  }

  svg {
    padding: 1rem;
  }

  .footer p {
    text-align: center;
    padding: 0.2rem;
  }

  .wedding {
    margin-bottom: 0.1rem;
  }

  .header li a:after {
    background-color: #fff;
  }

  .header li a {
    text-align: center;
    display: block;
    /* all area clicable */
    background-color: #fff;
  }

  .header li a:after {
    height: 0;
  }

  .header li {
    width: 101%;
    /* this fills an unknow space at right */
  }

  #contact,
  #wedding,
  #about {
    margin: 0;
    line-height: 40pt;
  }

  #contact {
    padding-bottom: 0.9rem;
    margin-bottom: 1.5rem;
  }

  #lang-mobile {
    display: block;
    float: right;
    margin-right: 0.6rem;
  }

  .header .fa-instagram {
    display: none;
  }

  .header .fa-youtube {
    display: none;
  }

  .header .fa-facebook-f {
    display: none;
  }

  .dropdown {
    display: none;
  }
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-areas:
      "nav"
      "container container"
      "footer footer";
  }

  .wedding {
    margin: 4.6rem 0.5rem 0.5rem 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .project-1,
  .project-2,
  .project-3,
  .project-4,
  .project-5,
  .project-6,
  .project-7,
  .project-8,
  .project-9 {
    height: 190px;
  }

  #mobile {
    font-size: 2rem;
  }

  .footer {
    display: flex;
    align-items: center;
    padding: 2rem;
  }

  .footer p {
    color: var(--light);
    align-items: center;
    padding: 1rem;
    margin-right: 0;
  }
}

/* NORMALIZE 
================================================== */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}