/* CSS VARIABLES 
==================================================*/

:root {
  --primary: #ddd;
  --dark: #161b21;
  --light: #fff;
  --blue: #007a7b;
  /* dark blue */
  --hover: #01b2bc;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.2);
  --menu-speed: 0.75s;
}

/* GLOBAL STYLING 
==================================================*/

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background: var(--primary);
  color: var(--dark);
  position: relative;
  padding-bottom: 3rem;
  /* 3rem is the size o the footer */
  min-height: 100vh;
  /* this makes the content fill the entire space */
}

.btn {
  background-color: var(--blue);
  color: var(--light);
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  border: 0;
  border-radius: 5px;
}

.btn:hover {
  background-color: var(--hover);
}

img {
  width: 100%;
  /* the image will always fill the box */
}

h1 {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
}

p {
  font-size: normal;
}

/* SVG LOGO */

svg {
  float: left;
  padding: 0.7rem 0 0.4rem 2rem;
}

svg:hover .cls-1 {
  fill: var(--hover);
}

svg:hover .cls-2 {
  fill: var(--hover);
}

/* MAIN GRID CONTAINER 
================================================== */

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
    "nav nav nav nav"
    "banner banner banner banner"
    "footer footer footer footer";
}

/* HEADER - MENU STYLES 
================================================== */

.nav {
  grid-area: nav;
}

a {
  color: #333;
}

/* HEADER
================================================== */

.header .fa-facebook-f {
  display: inline-block;
  float: right;
  padding: 0.9rem 5rem 0 0;
  color: var(--blue);
}

.header .fa-youtube {
  display: inline-block;
  float: right;
  padding: 0.9rem 2rem 0 0;
  color: var(--blue);
}

.header .fa-youtube:hover,
.header .fa-facebook-f:hover {
  color: var(--hover);
}

.header {
  background: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.header li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  color: var(--blue);
  font-size: 1rem;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.header li a:after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: var(--hover);
  width: 0;
  left: 50%;
  bottom: 0.5rem;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
  transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) all;
}

.header li a:hover,
.header .menu-btn:hover {
  color: var(--hover);
}

.header li a:hover:after {
  width: 100%;
}

/* LOGO 
==================================================*/

.header .logo {
  display: block;
  float: left;
  padding: 0.3rem 0 0 1rem;
  margin-left: 0;
}

/* MENU 
================================================== */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  text-align: center;
  /* new code centers menu in mobile */
  text-transform: uppercase;
}

/* MENO ICON
================================================== */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 1.1rem;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* MENU BTN
================================================== */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
  /* THIS CHANGES THE HEIGHT OF THE MENU */
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

#contact {
  margin-right: -27rem;
  /* this fixes the menu spacing on smaller screens*/
}

#wedding {
  margin-right: -9rem;
}

/* The dropdown container for languages
================================================== */

.dropdown {
  float: right;
  overflow: hidden;
  margin-right: 2rem;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 1rem;
  font-weight: 550;
  border: none;
  outline: none;
  color: var(--blue);
  padding: 1.4rem 1rem 0 0;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  margin-bottom: 1.1rem;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffafa;
  font-weight: 550;
  min-width: 50px;
  margin: 0 -0.9rem;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: var(--blue);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* SOCIAL STYLE
================================================== */

#lang-mobile {
  display: none;
}

.header .fa-facebook-f {
  display: inline-block;
  float: right;
  padding: 0.9rem 4rem 0 0;
  color: var(--blue);
}

.header .fa-vimeo-v {
  display: inline-block;
  float: right;
  padding: 0.9rem 2rem 0 0;
  color: var(--blue);
}

.header .fa-instagram {
  display: inline-block;
  float: right;
  padding: 0.9rem 2rem 0 0;
  color: var(--blue);
}

.header .fa-vimeo-v:hover,
.header .fa-instagram:hover,
.header .fa-facebook-f:hover {
  color: var(--hover);
}

/* BANNER 
================================================== */

.text-video {
  grid-area: banner;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  /* this will create a shadow over the image banner*/
  color: var(--light);
  margin-top: 3.6rem;
  /* this moves the banner below the nav */
  min-height: calc(100vh - 6.6rem);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}

.text-video .btn {
  font-size: 1.5rem;
}

/* BANNER - VIDEO
================================================== */

/* body, html {
  background: url('/video/video.jpg'); 
  z-index: -999;
} */

/* Makes a fixed background wrapper
which the user cannot interact with */

.iframe-wrapper {
  grid-area: banner;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

/* Make the iframe keep an aspect ratio, and
position it in the middle of its parent wrapper*/

.iframe-wrapper iframe {
  width: 100vw;
  height: 56.25vw;
  /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh;
  /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobile {
  display: none;
}

.logo-banner {
  width: 400px;
}

#social-mobile {
  display: none;
}

/* BANNER - MOBILE
================================================== */

@media (max-width: 767px) {
  .iframe-wrapper {
    display: none;
  }

  body,
  html {
    background: url("/wedding-mobile.jpg");
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
  }

  .logo-banner {
    width: 220px;
    margin-top: -2rem;
  }

  .text-video .btn {
    font-size: 1rem;
  }

  .background-mobile {
    display: block;
  }

  .background-pc {
    display: none;
  }
}

/* FOOTER 
 ==================================================*/

.footer {
  grid-area: footer;
  background: var(--dark);
  height: 3rem;
  position: absolute;
  /* position is absolute and relative to the body */
  bottom: 0;
  width: 100%;
  z-index: 99;
}

.footer p {
  color: var(--light);
  text-align: right;
  padding-right: 4rem;
  line-height: normal;
  font-size: 13px;
  margin-top: 1rem;
}

/* MEDIA QUERIES 
 ==================================================*/

@media (min-width: 1025px) {
  .header li {
    display: inline-block;
    text-align: center;
    margin-left: -4px;
  }

  .logo {
    float: left;
    width: 8rem;
    /* this will make the menu center. change it when needed */
    padding: 0;
  }

  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }

  .background-mobile {
    display: none;
  }
}

@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav nav"
      "banner banner"
      "footer";
  }

  #social-mobile {
    display: block;
    padding: 1rem;
  }

  #social-pc {
    display: none;
  }

  #contact,
  #wedding,
  #about {
    margin: 0;
    line-height: 40pt;
  }

  #contact {
    padding-bottom: 0.9rem;
    margin-bottom: 1.5rem;
  }

  #lang-mobile {
    display: block;
    float: right;
    margin-right: 0.6rem;
  }

  svg {
    padding: 1rem;
    overflow: hidden;
  }

  .banner .btn {
    font-size: 1rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }

  .banner {
    padding: 0;
    margin: 0;
  }

  .footer {
    overflow: hidden;
  }

  .footer p {
    text-align: center;
    padding: 0;
  }

  .dropdown {
    display: none;
  }

  .header li a {
    text-align: center;
    display: block;
    /* all area clicable */
    background-color: #fff;
  }

  .header li a:after {
    height: 0;
  }
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: 1fr;
    grid-template-areas:
      "nav"
      "banner"
      "footer";
  }

  .banner h1 {
    font-size: 3em;
    text-align: center;
    margin-top: -2rem;
  }

  .footer {
    display: flex;
    align-items: center;
    padding: 2em;
  }

  .footer p {
    color: var(--light);
    align-items: center;
    padding: 1rem;
  }
}

/* NORMALIZE 
==================================================  */

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}
